:root {
  --dark-shadow: rgba(0, 0, 0, 0.25);
  --light-shadow: rgba(0, 0, 0, 0.25);
}

.ess.shadow-dp-1.dark {
  box-shadow: 0 1px 5px var(--dark-shadow);
  /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
}

.ess.shadow-dp-2.dark {
  box-shadow: 0 3px 10px var(--dark-shadow);
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}

.ess.shadow-dp-3.dark {
  box-shadow: 0 10px 20px var(--dark-shadow);
  /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
}

.ess.shadow-dp-4.dark {
  box-shadow: 0 14px 28px var(--dark-shadow);
  /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
}

.ess.shadow-dp-5.dark {
  box-shadow: 0 19px 38px var(--dark-shadow);
  /* box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); */
}

.ess.shadow-dp-1.light {
  box-shadow: 0 1px 5px var(--light-shadow);
  /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
}

.ess.shadow-dp-2.light {
  box-shadow: 0 3px 10px var(--light-shadow);
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}

.ess.shadow-dp-3.light {
  box-shadow: 0 10px 20px var(--light-shadow);
  /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
}

.ess.shadow-dp-4.light {
  box-shadow: 0 14px 28px var(--light-shadow);
  /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
}

.ess.shadow-dp-5.light {
  box-shadow: 0 19px 38px var(--light-shadow);
  /* box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); */
}