 
.ess.menu {
  float: left;
  z-index: 9999;
  position: absolute;
  border-radius: 10px;
  box-shadow: 0 15px 50px 0 rgba(82,63,105,.15);
}

.ess.menu.dark {
  color: var(--white);
  background: var(--grey);
}

.ess.menu.light {
  color: var(--grey-75);
  background: var(--white);
}