.ess.radio {
  display: block;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  user-select: none;
  user-select: none;
  padding-left: 28px;
  position: relative;
  display: inline-block;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.ess.radio input[type=radio] {
  width: 0;
  height: 0;
  opacity: 0;
  cursor: pointer;
  position: absolute;
}

.ess.radio .checkmark {
  top: 0;
  left: 0;
  width: 21px;
  height: 21px;
  position: absolute;
  border-radius: 999px;
  background: transparent;
  transition: all 200ms ease-in-out;
}

.ess.radio .checkmark:after {
  content: '';
  width: 9px;
  top: 3.5px;
  opacity: 0;
  height: 9px;
  left: 3.5px;
  display: block;
  position: absolute;
  border-radius: 9999px;
  transition: all 200ms ease-in-out;
}

.ess.radio input[type=radio]:checked ~ .checkmark:after {
  opacity: 1;
}

/* FILLED */

.ess.radio.filled.light {
  color: var(--grey-60);
}

.ess.radio.filled.dark {
  color: var(--white);
}

.ess.radio.filled.light .checkmark {
  background: var(--grey-30);
  border: 2px solid var(--grey-30);
}

.ess.radio.filled.dark .checkmark {
  background: var(--black);
  border: 2px solid var(--black);
}

.ess.radio.filled.light input[type=radio]:checked ~ .checkmark {
  background: var(--grey-60);
  border: 2px solid var(--grey-60);
}

.ess.radio.filled.dark input[type=radio]:checked ~ .checkmark {
  background: var(--white);
  border: 2px solid var(--white);
}

.ess.radio.filled.primary input[type=radio]:checked ~ .checkmark {
  background: var(--primary);
  border: 2px solid var(--primary);
}

.ess.radio.filled.light input[type=radio]:checked ~ .checkmark:after {
  background: var(--white);
}

.ess.radio.filled.dark input[type=radio]:checked ~ .checkmark:after {
  background: var(--black);
}

.ess.radio.filled.primary input[type=radio]:checked ~ .checkmark::after {
  background: var(--white);
}

/* OUTLINED */

.ess.radio.outlined.light {
  color: var(--grey-60);
}

.ess.radio.outlined.dark {
  color: var(--white);
}

.ess.radio.outlined.light .checkmark {
  border: 2px solid var(--grey-60);
}

.ess.radio.outlined.dark .checkmark {
  border: 2px solid var(--white);
}

.ess.radio.outlined.light input[type=radio]:checked ~ .checkmark {
  border: 2px solid var(--grey-60);
}

.ess.radio.outlined.dark input[type=radio]:checked ~ .checkmark {
  border: 2px solid var(--white);
}

.ess.radio.outlined.primary input[type=radio]:checked ~ .checkmark {
  border: 2px solid var(--primary);
}

.ess.radio.outlined.light input[type=radio]:checked ~ .checkmark:after {
  background: var(--grey-60);
}

.ess.radio.outlined.dark input[type=radio]:checked ~ .checkmark:after {
  background: var(--white);
}

.ess.radio.outlined.primary input[type=radio]:checked ~ .checkmark::after {
  background: var(--primary);
}
